html,body{
  margin: 0;
  padding: 0;
  
}
body{
  background-color: aliceblue;

}
h1{
  text-align: center;
  
}
.container{
  text-align: center;
  display: inline-block;
  position: relative;
}
.nav{
    padding:10px;
    margin: 10px;
    float: left;
    position: relative;
}
/* Style the links inside the navigation bar */
nav .Homebutton{
  background: rgb(0, 0, 0);
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #fff;
  /* cursor: pointer; */
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  /* opacity: 1; */
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  /* touch-action: manipulation; */
  width: fit-content;
  border: 0;
}
nav a{
  display: inline-block;
  text-decoration: none;
  padding: 10px;
}
#Course-body{
  margin: 20px;
  padding: 20px;
  


}