<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script>
  $(document).ready(() => {
    $.ajax({
    url: "coursedb.html", 
    method: 'GET',
    success: function(response){
        if(response.rows.length > 0){
            for(let index = 0; index < response.rows.length; index++) {
                var newRow = $("<tr>");
                var id = ""; 
                var cols = "";
                var courseName = '';
                var instructorName = '';
                var description = '';
                var semester = '';
                var courseNumber = '';
                var startTime = '';
                var endTime = '';
                var days = '';
                cols += '<td> '+ response.rows[index].courseName +'</td>';
                cols += '<td> '+ response.rows[index].instructorName +'</td>';
                cols += '<td> '+ response.rows[index].description+'</td>';
                cols += '<td> '+ response.rows[index].semester+'</td>';   
                cols += '<td> '+ response.rows[index].courseNumber+'</td>';   
                cols += '<td> '+ response.rows[index].startTime+'</td>';
                cols += '<td> '+ response.rows[index].endTime+'</td>'; 
                cols += '<td> '+ response.rows[index].days+'</td>';     
                              
                newRow.append(cols);
                $("#tableData .tbody").append(newRow);
            }  

        }
    }
})
})
  
</script>
<body>

    <form action="/" method="POST">
            <table type="text" name="courseName" ></table>
    </form>

    <table id="tableData" class="table table-fixed">
        <thead>
          <tr>
          </tr>
        </thead>
        <tbody class="tbody" >
        </tbody>



</body>
 
</html>