<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="Style.css/Homepage.css">
    <script src="Script.js/navbar.js"></script>
	<title>Kings college</title>
</head>


<body>
    <div id="container">
        <header>
        <div class="head">
			<h1 class="title">Kings College</h1><br>
			<nav>
				<div class="navbar"  id="nav">
                    <button onclick="window.location.href='Student_View.html'" class="Homebutton">My courses </button>
					<button onclick="window.location.href='#MisStat'" class="Homebutton"> Home </button>
					<button onclick="window.location.href='#AboutHead'"  class="Homebutton"> About</button>
					<button onclick="window.location.href='#Courses'" class="Homebutton"> Courses </button>
					<button onclick="window.location.href='Html/instructorLogin.html'" class="Homebutton"> Instructor log in</button><
					<button onclick="window.location.href='Html/studentLogin.html'" class="Homebutton"> Student log in</button>
				</div>
			</nav>
        </div>
        </header>
    </div>

    <section>     
            <!--Mission Statement-->
        <div id="MisStat">
              <h2 class="StateHead"> Mission Statement </h2>
                  <div class="pStatement">
                    <p>King's College is a Catholic institution of higher education animated and
                      guided by the Congregation of Holy Cross. King's pursues excellence in
                      teaching, learning, and scholarship through a rigorous core curriculum,
                      major programs across the liberal arts and sciences, nationally-accredited
                      professional programs at the undergraduate and graduate levels,
                      and personal attention to student formation in a nurturing community.</p>
                    </div>
          </div>
          <div >
            <img class="img" src="img/KC.png" alt="Kings college">
          </div>

                                            <!--About-->
          <div id="BoxAbout">
              <h2 id="AboutHead" >About</h2>
                  <h4>Kings college is about you</h4>
                      <p>King's College is about you.
                        You are, after all, the reason we're here. We strive to create a personal,
                        welcoming environment that will give you the tools to succeed while you're
                        here and long after you graduate. You'll find rigorous coursework, competitive
                        sports and an array of activities as easily as you will supportive professors,
                        impressive coaches and friends for life.</p>

                  <h4>King's College is about values.</h4>
                      <p>King's is a Catholic, comprehensive college in the liberal arts tradition founded in
                          1946 by the Congregation of Holy Cross from the University of Notre Dame. The minute
                          you step foot on campus, you'll feel the warm, friendly vibe; you'll notice the immaculate
                          surroundings and impressive facilities; you'll feel at home in the comfortable, urban setting.
                          King's College is a home away from home—a place that overflows with values for a lifetime.</p>

                  <h4>King's College is about opportunity.</h4>
                      <p>Classes average 18 students, which fosters a dynamic, personal setting for you to
                          interact with your professors and classmates, to succeed academically, socially
                          and spiritually. King's College is your school, for life.
                      </p>
            </div>
</section>
                                            <!--List of courses-->
        <div class="ListCourse">
            <H2 id="Courses">Courses</H2>
                <p>List of courses here</p>
                    <ol>
                        <li>CS100</li>
                        <li>CS200</li>
                        <li>CS300</li>
                        <li>CS355</li>
                        <li>More courses available</li>
                    </ol>
        </div>
                                <!--Upcoming Events-->
<div class="events">
  <div>
      <h2>List of events</h2>
        <h4>2021 FEAST OF ST. FRANCIS LECTURE</h4>
            <p>WHERE: Online, via Zoom; click here to register for the link</p>
            <p> <span>WHEN:</span> Thursday, October 14, 2021, 7:00 p.m. - 8:15 p.m.</p>
            <button class="RegBtn">Register</button>
  </div>

  <h4>HOMECOMING/REUNION 2021</h4>
       <p> WHERE:King's College, various locations</p>
       <p> <span>WHEN:</span> September 17th, 18th, and 19th, 2021</p>
       <button class="RegBtn">Register</button>
</div>
    <div id="footer">
        <div class="text-box">
                <a href="https://www.facebook.com/kingscollegepa" class="btn btn-white btn-animate">Facebook</a>
            </div>
            <div class="text-box">
                <a href="https://twitter.com/KingsCollege_PA" class="btn btn-white btn-animate">Twitter</a>
            </div>
            <div class="text-box">
                <a href="https://www.instagram.com/kingscollegepa/" class="btn btn-white btn-animate">Instagram</a>
            </div>
            <div class="text-box">
                <a href="https://www.linkedin.com/school/kings-college/" class="btn btn-white btn-animate">Linkedin</a>
            </div>
    </div>
</body>
</html>