<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Instructor</title>
    <link rel="stylesheet" href="instructorHome.css">
</head>



<body>
  <header>
    <h1>Kings College</h1>
    
    <nav class = "nav">
      <form method="POST" action="/instructorLogout">
            <button type="submit" class="Homebutton">Log out</button>
        </form>
        <form action="/availableCourses">
            <button type="submit" class="Homebutton">Courses Available</button>
        </form>
    </nav>
  </header>
<img src="https://media.discordapp.net/attachments/882337214195970109/909879370842267658/Logo.png?width=804&height=945" alt="Logo" height="120" width="100" class="logo"> 
    
    <h2>My Courses:</h2>
    
        <h4>CSCI 212 - Object Oriented Programming in Java</h4> 
        <button class="btnn">Delete Course</button>
        <button class="btnn">Add Instructor</button> 
        <button class="btnn">Remove Instructor</button> 
        <button class="btnn">Leave Course</button>
        <form action="../Html/roster.html">
            <button class="btnn">Roster</button>
        </form>
        <form action="../Html/instructorCourse.html">
            <button  class="btnn">Course</button>
        </form>
        
        <h4>CSCI 313 - Data Structures</h4> 
        <button class="btnn">Delete Course</button>
         <button class="btnn">Add Instructor</button> 
         <button class="btnn">Remove Instructor</button> 
         <button class="btnn">Leave Course</button>
         <form action="../Html/roster.html">
            <button class="btnn">Roster</button>
        </form>
        <form action="../Html/instructorCourse.html">
            <button  class="btnn">Course</button>
        </form>

        <h4>CSCI 343 - Computer Architecture </h4>
         <button class="btnn">Delete Course</button> 
         <button class="btnn">Add Instructor</button> 
         <button class="btnn">Remove Instructor</button> 
         <button class="btnn">Leave Course</button>
         <form action="../Html/roster.html">
            <button class="btnn">Roster</button>
        </form>
         <form action="../Html/instructorCourse.html">
            <button  class="btnn">Course</button>
        </form>

      <a href = createCourse.html>   <button class="btnn">Create Course</button> </a>
    
      <a href = deleteCourse.html>   <button class="btnn">Delete Course</button> </a>


    <h2>Kings College Announcements</h2>
    <p>Reminder to submit vaccine cards as soon as possible.</p>
    <p>Spring 2022 available classes have been posted.</p>
    <p>Instructors please add any other course you'd like to teach before December 20th.</p>

</body>


</html>