<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
</head>

<body>
    <form action="action_page.php">
        <div class="container">
          <h1>Instructor Sign Up</h1>
          
          <hr>
          <label for="Fname"><b>First Name</b></label>
          <input type="text" placeholder="Enter First Name" name="Fname" required>

          <p></p>

          <label for="Lname"><b>Last Name</b></label>
          <input type="text" placeholder="Enter Last Name" name="Lname" required>
            <p></p>
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>
            <p></p>
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>
            <p></p>
          <label for="passwordRepeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="passwordRepeat" required>
            <p></p>
            
            <button type="submit" class="signUpBtn">Sign Up</button>
       
        </div>
      </form>
</body>

</html>