<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="instructorHome.css">
</head>



<body>
    <img src="https://media.discordapp.net/attachments/882337214195970109/909879370842267658/Logo.png?width=804&height=945" alt="Logo" height="120" width="100" class="logo"> 
    <p></p>
    <h1>Kings College</h1>
    
    <nav class = "nav">
        <a href="instructorHome.html"><button class = "home-button">Home</button></a>
        <a href="instructorCourse.html"><button class="course-home">Courses</button></a>
        <form method="POST" action="/instructorLogout">
            <button type="submit" class="Homebutton">Log out</button>
        </form>
    </nav>

    
    <h2>My Courses:</h2>
    
        <h4>CSCI 212 - Object Oriented Programming in Java</h4> <button class="delete">Delete Course</button> <button class="add-instructor">Add Instructor</button> <button class="remove-instructor">Remove Instructor</button> <button class="leave-course">Leave Course</button><button class="roster">Roster</button> <button class="course-page">Course page</button>
        <h4>CSCI 313 - Data Structures</h4> <button class="delete">Delete Course</button> <button class="add-instructor">Add Instructor</button> <button class="remove-instructor">Remove Instructor</button> <button class="leave-course">Leave Course</button><button class="roster">Roster</button> <button class="course-page">Course page</button>
        <h4>CSCI 343 - Computer Architecture </h4> <button class="delete">Delete Course</button> <button class="add-instructor">Add Instructor</button> <button class="remove-instructor">Remove Instructor</button> <button class="leave-course">Leave Course</button><button class="roster">Roster</button> <button class="course-page">Course page</button>
    
    <button class="create">Create Course</button>


    <h2>Kings College Announcements</h2>
    <p>Reminder to submit vaccine cards as soon as possible.</p>
    <p>Spring 2022 available classes have been posted.</p>
    <p>Instructors please add any other course you'd like to teach before December 20th.</p>

</body>


</html>